<style>
  .btn-search {
    background-color: #fe424d;
    color: #fff;
    border: 20px;
    padding: 0 1rem 0 1rem;
  }
  .btn-search i{
    display: inline;
    margin-right: 0.5rem;
  }
  search-inp{
    border: 20px;
    padding: 0.5rem 3rem 0.5rem  3rem;
    font-size: 1rem;
  }
</style>

<nav class="navbar navbar-expand-md  border-bottom sticky-top">
  <div class="container-fluid bg-light">
    <a class="navbar-brand" href="/listings"
      ><i class="fa-solid logo fa-globe"></i></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <div class="navbar-nav">
        <a class="nav-link m-2" href="/listings">Explore TripTales</a>
      </div>
      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search">
          <input
            class="form-control me-2 search-inp"
            type="search"
            placeholder="Search Destination"
          />
          <button class="btn btn-search" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i> Search
          </button>
        </form>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link m-2" href="/listings/new"><strong>TripTales your home</strong></a>
        <% if(!currUser) { %>
        <a class="nav-link m-2" href="/signup"><i class="fa-solid fa-user-plus">SignUp</i></a>
        <a class="nav-link m-2" href="/signin"><i class="fa-solid fa-right-to-bracket">SignIn</i></a>
        <% } %> <% if(currUser) { %>
        <a class="nav-link m-2" href="/signout"><i class="fa-solid fa-arrow-right-from-bracket">Sign Out</i></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
