body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex:1;
}
/* navbar */
.navbar{
    height: 5rem;
    background-color: #fff;
}
.fa-compass{
    color: rgb(193, 91, 73);
    font-size:  2rem;
}

.nav-link{
    color: #222222 !important;
}

/* footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links,
.f-info-brand,
.f-info-socials{
    width: 100%;   
    display: flex;
    align-items: center;
    justify-content: center; 
}

.f-info-socials i{
    font-size: 1.3rem;
    margin-right: 1rem;
}

.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: apace-evenly;
}
/* cards */

.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover;
}

.card-body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400 !important;

}

.listing-link{
    text-decoration: none;
}


.card-img-overlay{
    opacity: 0;;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* New Page */

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Edit Page */
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* show img */

.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .filter {
    margin-top: 1rem;
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
  }
  .filter:hover {
    opacity: 1;
    cursor: pointer;
  }
  .filter p {
    font-size: 0.8rem;
  }

  .tax-info{
    display: none;
  }
  .tax-toggle{
    border: 1px solid black;
    border-radius: 1rem;
    height: 2.5rem;
    padding: 1rem;
    margin-left: 4rem;
    display: flex;
    align-items: center;
  }

  .btn-search {
    background-color: #fe424d;
    color: #fff;
    border: 20px;
    padding: 0 1rem 0 1rem;
  }
  .btn-search i{
    display: inline;
    margin-right: 0.5rem;
  }
  search-inp{
    border: 20px;
    padding: 0.5rem 3rem 0.5rem  3rem;
    font-size: 1rem;
  }